<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
			<h1><span class="fa fa-lock"></span> <%= title %> </h1>
			<ul>
				<% if (!quizzes) { %>
					<li class="text-left">No quizzes</li>
				<% } else { %>
					<li class="text-left">Total: <%= quizzes.length %></li>
					<ul>
						<% for(var i=0; i < quizzes.length; i++) {%>
						<li class="text-left">ID: <%= quizzes[i].quiz_id %>. Name: <%= quizzes[i].quiz_name %>. Group: <%= quizzes[i].group_id %></li>
						<% } %>
					</ul>
				<% } %>
			</ul>
        </div>
    </div>
</body>
</html>